<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志存放路径变量设置 -->
    <property name="LOG_PATH" value="/usr/local/logs/est/client" />

    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
        <layout>
            <pattern>
                [%p]%d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天生成新的日志 -->
　　　　    <fileNamePattern>
                ${LOG_PATH}/est.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 最大保留时间为30天 -->
　　　　 　 <maxHistory>30</maxHistory>
　　　　</rollingPolicy>
        <encoder>
            <pattern>
                [%p]%d{yyyy-MM-dd HH:mm:ss} [%thread] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 错误日志 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/error/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            </rollingPolicy>
        <encoder>
            <pattern>
                [%p]%d{yyyy-MM-dd HH:mm:ss} [%thread] - %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE"></appender-ref>
        <appender-ref ref="ERROR"></appender-ref>
    </root>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"></appender-ref>
    </root>
</configuration>